name: rollback

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  rollback:
    runs-on: ubuntu-latest

    steps:
      - name: Rollback placeholder
        run: |
          echo "I'm the rollback.yaml file"
          echo "Rollback workflow executed"
